<!DOCTYPE html>
<head>
<!--   <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script> -->
</head>
<body>
  <div class='fake-letter-head'>
  <div class='outer-container'>
    <div class="inner-container">

      <form action="/url-to-submit-to" id="survey-form" class='column-form'>

        <div class="section__header">
          <h1 id="title" class='section__header-title'>Developer request form</h1>
          <p id="description" class='section__header-description'>Looking for a junior developer with the experience of a senior developer for the salary of an intern, fill out
            this form.
          </p>
        </div>

        <div class='input section section__name'>
          <label class='label' id='name-label' for="name">Company name</label>
          <input class='input-typing' type="text" id="name" required placeholder='Enter name'>
        </div>

        <div class='input section section__email'>
          <label class='label' id='email-label' for="email">Recruiter email</label>
          <input class='input-typing' type="email" id="email" required placeholder='Enter email'>
        </div>

        <div class='input section section__headcount'>
          <label class='label' id='number-label' for="number">Current headcount</label>
          <input class='input-typing' type="number" name='number' id="number" min="1" max="100000" placeholder="Enter latest headcount">
        </div>

        <!-- User Story #12: dropdown -->
        <div class="section section__dropdown">
          <label class='label' for="occupation">Desired type of developer?</label>
          <select class="input-dropdown-selection" id="dropdown" name="occupation">
            <option disabled value="select an option">Select an option</option>
            <option value="front-end developer">Front-end Developer</option>
            <option value="back-end developer">Back-end Developer</option>
            <option value="full stack developer">Full Stack Developer</option>
          </select>
        </div>

        <!-- User Story #13: radio buttons -->
        <div class='input section section__radio-buttons'>
          <label class='label' for="search-status">Hiring urgency?</label>
          <ul>
            <li>
              <label class='label-radio-button' for="radio-buttons">
                <input class='input-radio-value' type='radio' name='radio-buttons' value='just guaging interest'> Just guaging interest
              </label>
            </li>
            <li>
              <label class='label-radio-button' for="radio-buttons">
                <input class='input-radio-value' type='radio' name='radio-buttons' value='immediate hire'> Immediate hire
              </label>
            </li>
            <li>
              <label class='label-radio-button' for="radio-buttons">
                <input class='input-radio-value' type='radio' name='radio-buttons' value='we can wait'> We can wait
              </label>
            </li>
          </ul>
        </div>

        <!-- User Story #14: checkboxes -->
        <div class='input section section__checkboxes'>
          <label class='label' for="additional comments">Desired skillset? Check all that apply.</label>
          <ul>
            <li>
              <label class='label-checkbox'>
                <input class='input-checkbox-value' type="checkbox" value='html'>HTML5
              </label>
            </li>
            <li>
              <label class='label-checkbox'>
                <input class='input-checkbox-value' type="checkbox" value='css'>CSS3
              </label>
            </li>
            <li>
              <label class='label-checkbox'>
                <input class='input-checkbox-value' type="checkbox" value='sass'>Sass
              </label>
            </li>
            <li>
              <label class='label-checkbox'>
                <input class='input-checkbox-value' type="checkbox" value='javascript'>JS ES6+
              </label>
            </li>
            <li>
              <label class='label-checkbox'>
                <input class='input-checkbox-value' type="checkbox" value='react'>React
              </label>
            </li>
            <li>
              <label class='label-checkbox'>
                <input class='input-checkbox-value' type="checkbox" value='angular'>Angular
              </label>
            </li>
            <li>
              <label class='label-checkbox'>
                <input class='input-checkbox-value' type="checkbox" value='ember'>Ember
              </label>
            </li>
            <li>
              <label class='label-checkbox'>
                <input class='input-checkbox-value' type="checkbox" value='node'>Node
              </label>
            </li>
            <li>
              <label class='label-checkbox'>
                <input class='input-checkbox-value' type="checkbox" value='tdd'>Test Driven Development
              </label>
            </li>
            <li>
              <label class='label-checkbox'>
                <input class='input-checkbox-value' type="checkbox" value='nosql'>NoSQL
              </label>
            </li>
            <li>
              <label class='label-checkbox'>
                <input class='input-checkbox-value' type="checkbox" value='sql'>SQL
              </label>
            </li>
            <li>
              <label class='label-checkbox'>
                <input class='input-checkbox-value' type="checkbox" value='CICD'>CI / CD
              </label>
            </li>
          </ul>
        </div>

        <!-- User Story #13: additional comments -->
        <div class="input section section__text-area">
          <label class='label label-textarea' for="job description">Job description details</label>
          <textarea class='input-textarea' name='job description' placeholder='Paste in company details and job description to reel them in...'></textarea>
        </div>

        <div class='section__button'>
          <button id='submit' class='btn btn-jumbo'>Submit</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</body>
<script>
render();{
  return  (
    <div className='intro'>
      <i class="fab fa-free-code-camp intro__icon"></i>
      <div className='intro__title'>React Starter template</div>
    </div>    
  )
}
ReactDOM.render(<App />, document.getElementById('root'))
</script>
